/* thread */
.focus-highlight {background: #feffdb;}
#thread-sidebar .list-group-item.active {
	background-color: #f1e2d7;
	border-color: #f1e2d7;
	color: #000;  
}	

/* discussion */
.answer-reply:before {
	position: absolute;
	content: '';    
	border-left: 3px solid #d2d2d2;
	bottom: 55px;
	left: -15px;
	top: 0;
	height: auto;
	margin-top: 0;
	opacity: 35%;
	visibility: visible;
}
.answer-reply:after {
	position: absolute;
	content: '';
	border-left: 3px solid #d2d2d2;
	bottom: 0;
	left: -15px;
	top: 65px;
	height: auto;
	margin-top: 0;
	opacity: 35%;
	visibility: visible;
} 
.answer-reply .card-body:after {
	content: '';
	border-top: 3px solid #d2d2d2;
	bottom: 0;
	left: -10px;
	top: 65px;
	width: 8px;
	opacity: 45%;
	position: absolute;   
}

.answer-reply .card-body:before {
	content: '';
	position: absolute;
	border: 5px solid #198754;
	bottom: 0;
	left: -19px;
	top: 62px;
	width: 10px;
	height: 10px;
	z-index: 1;
}